*.pyc
env/*
.idea/*
logs/*
.DS_Store

src/static/CACHE/
src/main/settings_local.py
src/main/settings/djangojobbers_local.py
src/main/settings/phpjobbers_local.py
src/main/settings/railsjobbers_local.py
src/xmedia/*
src/xstatic/*
src/sqlite3.db
src/*.log
